= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/little-pete-wrigley.png'
  -# %span Little Pete Wrigley
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/aeon-flux.png'
  -# %span Aeon Flux
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/alan-frog.png'
  -# %span Alan Frog
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/amanda-bynes.png'
  -# %span Amanda Bynes
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/april-oneil.png'
  -# %span April Oneil
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/artie-strongman.png'
  -# %span Artie Strongman
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/baby-sinclair.png'
  -# %span Baby Sinclair
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/big-pete-wrigley.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/bobby-budnick.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/bradley-taylor.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/casey-jones.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/charlene-sinclair.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/chris-chambers.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/danny-lightfoot.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/danny-pennington.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/daria-morgendorffer.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/dina-alexander.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/eddie-gelfen.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/ellen-josephine-hickle.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/ernest-worrell.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/harriet-welsch.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/ickis.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/jane-lane.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/jeffrey-douglas.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/kel-mitchell.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/krumm.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/lawrence-cohen.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/lori-beth-denberg.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/marshall-teller.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/mechagodzilla.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/melody-hanson.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/michael-douglas.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/michael-walsh.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/michelangelo.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/oblina.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/patty-mayonnaise.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/powdered-toast-man.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/quinn-morgendorffer.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/reno-reyes-jr.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/richard-wang.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/robbie-sinclair.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/roger-klotz.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/sam-emerson.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/samuel-douglas.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/simon-holmes.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/skeeter-valentine.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/star-emerson.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/teddy-duchamp.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/telly-radford.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/trent-lane.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/vern-tessio.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/alex-murphy.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/atreyu.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/bill-esquire.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/bishop.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/david-bowie.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/empress-tami.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/iggy.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/kennedy-montgomery.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/link.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/pat-benatar.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/sarah-williams.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/stoney-brown.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/ted-logan.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/vera-de-milo.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/yellow-frog.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/asha-kuerten.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/elvira-hancock.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/june.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/alex-mack.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/clarissa-marie-darling.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/dylan-mckay.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/kelly-kapowski.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/kimmy-kibler.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/scrabby-doo.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/tina-carlyle.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/zack-taylor.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/will-smith.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/rufio.png'
