= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/little-pete-wrigley.png'
  -# %span Little Pete Wrigley
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/aeon-flux.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/alan-frog.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/amanda-bynes.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/april-oneil.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/artie-strongman.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/baby-sinclair.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/big-pete-wrigley.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/bobby-budnick.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/bradley-taylor.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/casey-jones.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/charlene-sinclair.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/chris-chambers.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/danny-lightfoot.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/danny-pennington.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/daria-morgendorffer.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/dina-alexander.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/eddie-gelfen.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/ellen-josephine-hickle.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/ernest-worrell.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/harriet-welsch.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/ickis.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/jane-lane.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/jeffrey-douglas.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/kel-mitchell.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/krumm.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/lawrence-cohen.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/little-pete-wrigley.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/lori-beth-denberg.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/marshall-teller.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/mechagodzilla.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/melody-hanson.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/michael-douglas.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/michael-walsh.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/michelangelo.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/oblina.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/patty-mayonnaise.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/powdered-toast-man.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/quinn-morgendorffer.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/reno-reyes-jr.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/richard-wang.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/robbie-sinclair.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/roger-klotz.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/sam-emerson.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/samuel-douglas.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/simon-holmes.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/skeeter-valentine.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/star-emerson.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/teddy-duchamp.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/telly-radford.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/trent-lane.png'
= link_to '#', class: 'thumbnail' do
  = image_tag 'avatars/vern-tessio.png'
