---
title: Rad Faces
---

%section.awesomeness
  = partial 'refills/nav'
  %article
    .wrapper
      %p
        If you like making prototypes, need dem avatars,
        %br
        and on that 80's early 90's tip, this shit is for you!
      = link_to 'Download JSON', '/public/radfaces.json', class: 'btn', target: '_blank'
      %figure
        = partial 'refills/avatar'
  %footer
    .wrapper
      All photos are curated by,
      = link_to 'Danilo K. Quilaton, Jr.', 'http://daniloquilaton.com/', target: '_blank'
      %br
      Made with
      %i.ion-ios-heart
      in San Francisco, CA.,
      = Time.now.year
  = partial 'refills/modal'
